body
{
    background: lightgrey;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/6/61/Centrecollegeseal.png");
    background-size: 1000px, 1000px;
    background-repeat: no-repeat;
    background-position: top center;
}

.person_image
{
    float: right;
}

.nav
{
    font-size: 25px;
    word-spacing: 2.5em;
    text-transform: capitalize;
    text-align: center;
    padding-top: 15;
}

.header
{
    background-color: dimgrey;
    padding: 10px;
    width:98%;
    border: solid;
    border-width: thick;
    position: fixed;
}

h1
{
    text-align: center;
    padding-top: 120px;
    font-size: 45;
    font-family: Georgia;
}

.username
{
    font-weight: bold;
    line-height: 4em;
    float: right;
}

.day
{
    font-size: 30px;
    text-align: center;
    border-style: solid;
    border-top: 1px;
    border-left: 1px; 
    border-right: 1px;
    padding-bottom:15px;  
}

.day-box.PREP, .day-box.CURRENT, .day-box.COMPLETED
{
    text-align: center;
    padding:30px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    line-height: 20px;
    border-style: solid;
    border-width: thick;
}

.day-box.PREP
{
    border-color: red;
    background-color: orangered;
    margin-top: 45;
}

.day-box.CURRENT
{
    border-color: yellow;
    background-color: gold;
}

.day-box.COMPLETED
{
    border-color: green;
    background-color:greenyellow;
}

.assignment-label
{
    font-weight: bold;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 7px;
}

.assignment_title
{
    font-size: 30px;
    padding-top:
}

.title
{
    font-size: 35px;
    text-transform: capitalize;
    text-align: left;
    padding-top: 60px;
}
    
label
{
    font-size: 25px;
    display: block;
    text-align: left;
    padding-top: 20px;
    margin-top: 20px;
}

input
{
    height: 30px;
    width: 200px;
    font-size: 16px;
}

a:hover
{
    color: darkorange;
}

a:visited
{
    color: red;
}

a:active
{
    color: whitesmoke;
}
